# tools
pip-tools
ipython

# jupyter notebook
notebook
ipywidgets
nbclassic<0.5 # nbextensions seem broken with nbclassic 0.5.1
jupyter_contrib_nbextensions
rise
jupytext

# jupyter lab
jupyterlab
jupyterlab_rise
ipympl

# math
numpy
sympy

# data
pandas

# plotting
matplotlib
graphviz

# machine learning
scikit-learn
torch
torchvision
torchaudio
fastai

# other
pillow
duckduckgo-search
