# jupyter
jupyterlab
notebook
ipywidgets
nbclassic<0.5 # nbextensions seem broken with nbclassic 0.5.1
jupyter_contrib_nbextensions

# tools
ipython

# math
numpy
sympy

# data
pandas

# plotting
matplotlib

# machine learning
scikit-learn
torch
torchvision
torchaudio
fastai
